* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

html {
  margin: -10px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #C6AE80;
}

header, main {
  padding: 10px;
  width: 100%;
}

header {
  color: white;
  background-color: #5B6C5D;
}

header ul {
  text-align: center;
}

main {
  /*  max-width: 600px; */
  margin: 0 auto;
  background-color: #C6AE80;
}

h1 {
  text-align: center;
}

form {
  padding: 10px 0 0 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

.button {
  background-color: #5BC0EB;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  border-radius: 12px;
  padding: 5px;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  padding: 5px 0 0 0;
}

.error-message, .active-alert {
  color: red;
}

.hidden {
  display: none;
}

.results-li, .results-forecast {
  background-color: #DFD2B9;
  border-radius: 25px;
}

.results-forecast {
  padding: 1px 1px 1px 10px;
}

@media all and (min-width: 600px) {
  .wide-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;

  }

  .wide-item {
    flex: 1;
  }

  .double-wide-item {
    flex: 2;
  }
}