* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

html {
  margin: -10px;
}

header, main {
  padding: 10px;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #C6AE80;
}

header {
  color: white;
  background-color: #5B6C5D;

}

main {
  /*  max-width: 600px; */
  margin: 0 auto;
  background-color: #C6AE80;
}

form {
  padding: 10px 0 0 0;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  padding: 5px 0 0 0;
}

.error-message {
  color: red;
}

.result-item {
  background-color: #DFD2B9;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

.hidden {
  display: none;
}