* {
  box-sizing: border-box;
}

/* major elements */

html, body {
  overflow-x: hidden;
  width: auto;
}

html {
  margin: -15px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #C6AE80;
  font-size: 16px;
}

header, main {
  padding: 15px;
}

header {
  color: white;
  background-color: #5B6C5D;
}

header ul {
  text-align: center;
}

h1, h3 {
  text-align: center;
}

h2 {
  padding: 10px;
}

form {
  padding: 10px 0 10px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

/* buttons and labels */

.button {
  background-color: #5BC0EB;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  border-radius: 12px;
  padding: 5px;
}

button, input[type="text"] {
  padding: 5px;
}

input {
  font-size: 16px;
  float: left;
}

label {
  padding: 5px 0 0 0;
  float: left;
  clear: left;
  width: 140px;
  text-align: left;
}

button:hover {
  cursor: pointer;
}

/* groups */
 
.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item {
  flex: 1;
  padding: 5px 0 0 0;
}

.item-2 {
  flex: 1;
  padding: 10px 0 0 0;
}

.loader-group {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.loader-item-1 {
  flex: 1;
  margin: 0;
  padding: 1px 0 0 0;
}

.loader-item-2 {
  flex: 1;
  margin: 0;
  padding: 5px 0 0 0;
}

/*
.error-message {
  color: red;
  height: 28px;
}
*/

/* classes */

.active-alert, .error-message {
  color: darkred;
  font-weight: bold;
}

.centered {
  margin: 0 75px;
  width: 50%;
}

.hidden {
  display: none;
}

.results-li, .results-forecast {
  background-color: #DFD2B9;
  border-radius: 25px;
}

.results-forecast {
  padding: 1px 1px 1px 10px;
}

/* media responsiveness */

@media all and (min-width: 600px) {
  .wide-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;

  }

  .wide-item {
    flex: 1;
  }

  .double-wide-item {
    flex: 2;
  }
}